body { 

    /* background: url(../img/backgroundStyle-01.png) repeat top left; */
    background-image: url(../img/backgroundDehlila.png);
    background-repeat:no-repeat;
    background-position:center top;
  
}
